body {
  background-color: #DADADA;
}
    
body>.grid {
  height: 100%;
}

#root {
  height: 100%;
}

#root>.grid {
  height: 100%;
}


.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}